.profile-pic {
    width: 25%;
    height: 25%;
}

.logout-icon {
    display: none;
}

main {
    padding-top: 100px;    
}

.navbar {
    background-color: #0e0e0e;
    padding: .5rem 1rem;
}

@media (max-width: 300px) {
    .profile-pic {
        display: none;
    }  
}

@media (max-width: 400px) {
    .profile-pic {
        padding: 0 !important;
        margin: 0 !important;
    }  
    
    .logout-icon {
        padding: 0 !important;
        margin: 0 !important;  
    }
    .logo {
        width: 25%;
    }
    .form-inline {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 767.98px) {
    .logout-text {
        display: none !important;
    }
    .logout-icon {
        display: block;
        padding: 0;
    }
    .profile-pic {
        width: 25%;
        height: 25%;
        padding-right: 0;
    }
    .mid-text {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        display: none;
    }
}

@media (max-width: 1200px) {
    #backButton {
        display: none;
    }
}

.sidepanel {
    height: 97%;
    width: 300px;
    margin-top: 3%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0e0e0e;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }